name: Access Environment-Specific Secret

on:
  push:
    branches:
      - main

jobs:
  use-env-secret:
    runs-on: macos-latest

    steps:
      - name: Setup tmate session (debugging)
        run: |
          brew install tmate
          tmate -S /tmp/tmate.sock new-session -d  # Start tmate in detached mode
          tmate -S /tmp/tmate.sock wait tmate-ready
          echo "SSH connection string:"
          tmate -S /tmp/tmate.sock display -p '#{tmate_ssh}'
          echo "Web connection:"
          tmate -S /tmp/tmate.sock display -p '#{tmate_web}'
        continue-on-error: true
