name: Access Environment-Specific Secret

on:
  push:
    branches:
      - main

jobs:
  use-env-secret:
    runs-on: ubuntu-latest

    steps:
      - name: Try new script to start android emulator
        uses: ThangNguyen0495/Customs@e1.1.3
        with:
          api-level: '35'

      - name: Check android home
        run: |
          echo "$ANDROID_HOME"
