name: Access Environment-Specific Secret

on:
  push:
    branches:
      - main

jobs:
  use-env-secret:
    runs-on: ubuntu-latest
    environment: STAG_VN # Specify the environment here

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Access the HOST Secret
        env:
          HOST: ${{ secrets.ENV_FILES }}
        run: |
          echo "The HOST value is $HOST"
