name: Access Environment-Specific Secret

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  use-env-secret:
    runs-on: ubuntu-latest
    environment: STAG_VN

    steps:
      # - name: Try new script to start android emulator
      #   uses: ThangNguyen0495/Customs@main
      #   with:
      #     api-level: '35'
      - name: verify env variable configs
        run: |
          echo "${{ vars.APP_URL }}"
          echo "${{ vars.COMMON_VARIABLE }}"
        
