name: Access Environment-Specific Secret

on:
  push:
    branches:
      - main

jobs:
  use-env-secret:
    runs-on: ubuntu-latest

    steps:
      - name: Try new script to start android emulator
        uses: ThangNguyen0495/Customs@e1.0.0
        with:
          api-level: '35'
