name: Pipeline

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  BRANCH_NAME: GoSELL-Thang

jobs:
  CloneGit:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout the current repository
        uses: actions/checkout@v2

      - name: Install OpenVPN
        run: |
          sudo apt update -y
          sudo apt install -y openvpn

      - name: Create VPN Credentials File
        run: |
          echo "${{ secrets.VPN_USERNAME }}" > $HOME/author.txt
          echo "${{ secrets.VPN_PASSWORD }}" >> $HOME/author.txt
          chmod 600 $HOME/author.txt

      - name: Start OpenVPN
        run: |
          sudo nohup openvpn --verb 4 --config $(pwd)/.github/client.ovpn --auth-user-pass $HOME/author.txt > $HOME/openvpn.log 2>&1 &

      - name: Try connect to Gitlab by VPN
        run: |
          for i in {1..5}; do
           echo "$(curl -Is ${{ secrets.GITLAB_REPO }} | head -1)"
           if grep -q "Initialization Sequence Completed" $HOME/openvpn.log; then
             echo "OpenVPN started successfully."
             break
           fi
           echo "OpenVPN start failed, retrying..."
          done
          cat $HOME/openvpn.log
#      - name: Clone GitLab repository
#        run: |
#          git clone ${{ secrets.GITLAB_REPO }} GoSELL-Automation
      - name: Stop OpenVPN
        run: |
          sudo pkill -f openvpn
#      - uses: actions/upload-artifact@v4
#        with:
#          name: ClonedRepository
#          path: GoSELL-Automation
